{% extends 'base_generic.html' %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'news/css/index.css'%}">
<link rel="stylesheet" href="{% static 'news/css/bootstrap.min.css' %}">
{% endblock %}

{% block jsfile %}
<script  type="text/javascript" src="{ % static news/js/bootstrap.min.js %}"></script>
{% endblock %}


{% block titulo %}  index {% endblock %}


{% block content %}
   {% for peliculas in  object_list %}
     <div class="col-md-4">
         <div class="notice-card">
             <figure>
                <img src="https://dy5zjr62m3i6k.cloudfront.net/assets/customer-login-71a58ea06544f1e241c59ad3dbdef7fe22b31ce784b3f8eb70e534ab7a917eed.png" alt=""/>
             </figure>
             <figcaption>
                 <button class="btn"><span></span></button>
                 <h2>{{peliculas.titulo|truncatechars:25}}</h2>
                 {{peliculas.titulo|safe|truncatechars:25}}
                 {{peliculas.genero|safe|truncatechars:232}}
                 {{image_tag|safe|truncatechars:25}}
             </figcaption>
         </div>
     </div>
   {% endfor %}
{% endblock %}